website inspirations


Sam will do the CSS
http://www.goosecup.co/ good example
https://zyro.com/preview/sugaro?utm_medium=affiliate&utm_source=aff1635&utm_campaign=aff35&transaction_id=102e06c80e212930d637de5faff924#desktop
https://www.equatorcoffees.com/
colors: ghostwhite, brown coffee color, charcoal grey 