/*git checkout -b sam-branch 
Sam will do the CSS
http://www.goosecup.co/ good example
https://zyro.com/preview/sugaro?utm_medium=affiliate&utm_source=aff1635&utm_campaign=aff35&transaction_id=102e06c80e212930d637de5faff924#desktop
https://www.equatorcoffees.com/
colors: ghostwhite, brown coffee color, charcoal grey */
.main-body > * {
  list-style-type: none;
  border: 1px solid rgb(88, 87, 87);
  display: inline-block;
  height: 20vh;
  width: 15vh;
  padding: 50px;
  gap: 10px 20px;
  margin: 20px;
  text-align: center;
  justify-content: center;
  border-radius: 15px;
}

nav {
  display: flex;
  align-items: center;
  height: 10vh;
  position: sticky;
  width: auto;
  flex-direction: row;
  margin: 0;
}

input {
  width: 400px;
  margin: 0px 10px 0px 10px;
}

img {
  width: 150px;
  height: auto;
  align-content: center;
  margin: 1em;
  display: block;
}

.box img {
  border: #ddd;
}

.today {
  margin: 1em;
  font-weight: 600;
  font-family: serif;
  color: rgb(129, 72, 72);
}

.home {
  background-color: rgb(129, 72, 72);
  color: ghostwhite;
  font-style: bold;
  padding: 10px;
  border-radius: 100px;
  margin: 1em;
}

.search-container:button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border-style: ridge;
  cursor: pointer;
}
